<!DOCTYPE html>
<html>
<style>
    body {
            background: linear-gradient(270deg, #62CC58, #C1A64E);
            background-repeat: no-repeat;
            background-attachment: fixed;
        }
</style>
<body>

<h1 class=>{{ mymember.firstname }} {{ mymember.lastname }}</h1> 

<p>Phone: {{ mymember.phone }}</p>
<p>Member since: {{ mymember.joined_date }}</p>
<p>Gender: {{ mymember.gender }}</p>
<p>Birthday: {{ mymember.birthday }}</p>
<p>Email: {{ mymember.email }}</p>

<p>Back to <a href="/members">Members</a></p>

</body>
</html>